.add-ingredients__input-wrap {
  display: flex;
  flex-wrap: wrap;

  min-width: 192px;
}

.add-ingredients__text {
  margin-top: 5px;
  margin-right: 5px;

  font-size: 12px;
  line-height: 14px;

  color: $black;

  @media (min-width: $screen-md) {
    margin-right: 5px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 5px;
    margin-right: 10px;
  }
}

.add-ingredients__input-and-btn {
  position: relative;

  margin-right: 15px;

  width: 40px;
}

.add-ingredients__btn {
  position: absolute;
  top: 2px;
  bottom: 2px;

  margin: 0;
  padding: 0;

  width: 10px;
  height: 16px;

  background: 0 0;

  font-size: 0;
  color: transparent;

  border: 0;

  overflow: visible;
  text-transform: none;
  touch-action: manipulation;

  &--plus {
    top: 3px;
    left: 0;

    background: url("../img/plus.svg") right no-repeat;
    background-size: 5px 5px;
  }

  &--remove {
    right: 0;

    width: 12px;

    &::before,
    &::after {
      content: "";
      position: absolute;

      top: 8px;
      left: 0;

      width: 8px;
      height: 1px;

      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.add-ingredients__input {
  margin: 0;
  padding: 3px 20px 3px 8px;

  width: 12px;

  font-family: inherit;

  font-size: 12px;
  line-height: 14px;
  background-color: #f2f2f2;

  text-align: center;


  border: none;
  border-radius: 3px;
}

.add-ingredients__price {
  margin-left: auto;

  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: $black;
}

.add-ingredients__btn-plus {
  position: relative;

  margin-left: auto;

  width: 19px;
  height: 19px;

  font-size: 0;
  color: transparent;

  background-color: $orange;
  border-radius: 3px;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 9px;
    left: 26%;

    width: 10px;
    height: 1px;

    background-color: $white;
  }

  &::before {
    transform: rotate(-90deg);
  }

  @media (min-width: $screen-lg) {
    margin-left: 8px;
  }
}

.add-ingredients__select {
  margin-bottom: 13px;

  width: 185px;
  min-height: 25px;

  @media (min-width: $screen-lg) {
    margin-bottom: 11px;

    width: 190px;
    min-height: 25px;
  }
}
