.block-buyer {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;

  width: 70px;

  @media (min-width: $screen-md) {
    width: 85px;
  }

  @media (min-width: $screen-lg) {
    display: none;
  }

  &--desktop {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      order: 3;

      margin: 0;
      margin-left: auto;

      width: 292px;
    }
  }
}

.block-buyer__link {
  position: relative;

  margin-bottom: 5px;
  margin-right: 20px;

  font-size: 0;
  color: transparent;

  width: 25px;
  height: 22px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: $screen-md) {
    margin-right: 30px;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
    margin-right: 50px;
    padding-left: 38px;
    padding-top: 13px;
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    width: auto;
    height: auto;
  }
}
