.block-buyer {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-top: 13px;

  width: 67px;

  @media (min-width: $screen-md) {
    margin-top: 30px;

    width: 85px;
  }

  @media (min-width: $screen-lg) {
    display: none;
  }

  &--desktop {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      order: 3;

      margin: 0;
      margin-left: auto;

      width: 292px;
    }
  }
}

.block-buyer__link {
  position: relative;

  margin-bottom: 5px;
  margin-right: 17px;

  font-size: 0;
  color: transparent;

  width: 25px;
  height: 22px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: $screen-md) {
    margin-right: 30px;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
    margin-right: 50px;
    padding-left: 38px;
    padding-top: 17px;
    padding-bottom: 17px;

    font-weight: 700;
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    width: auto;
    height: auto;
  }

  &--cabinet::before {
    content: "";
    position: absolute;

    width: 22px;
    height: 22px;

    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -1039px;

    @media (min-width: $screen-lg) {
      left: 0;
    }
  }

  &--basket {
    fill: $green;
  }
}

.block-buyer__icon {
  @media (min-width: $screen-lg) {
    position: absolute;
    top: 13px;
    left: 0;
  }
}

.block-buyer__number {
  @media (min-width: $screen-lg) {
    position: absolute;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    top: 11px;
    left: 16px;

    width: 10px;
    height: 10px;

    font-size: 10px;
    color: $white;

    background-color: $orange;
    border-radius: 2px;
  }
}
