.contacts {
  padding-top: 53px;
  padding-bottom: 54px;

  width: 100%;

  background-color: #161326;
  background-image: url("../img/bg-contacts-sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: $white;

  @media (min-width: $screen-md) {
    padding: 75px 6px 83px;

    background-image: url("../img/bg-contacts-md.jpg");
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 81px;
  }
}

.contacts__inner {
  @include container();
}

.contacts__container {
  @media (min-width: $screen-lg) {
    margin-left: 360px;

    width: 765px;
  }
}

.contacts__text {
  display: inline-block;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 18px;

  vertical-align: top;

  @media (min-width: $screen-md) {
    margin-bottom: 5px;
  }
}
