.footer-menu__col {
  @include col();

  padding: 0;

  @media (min-width: $screen-lg) {
    padding-left: 15px;
    padding-right: 15px;

    &--menu {
      flex: 0 0 230px;
      max-width: 230px;
    }

    &--sets {
      flex: 0 0 390px;
      max-width: 390px;
    }

    &--rolls {
      flex: 0 0 250px;
      max-width: 250px;
    }

    &--wok {
      flex: 0 0 170px;
      max-width: 170px;
    }

    &--pizza {
      flex: 0 0 130px;
      max-width: 130px;
    }
  }
}

.footer-menu__title {
  position: relative;

  padding: 21px 52px 22px 15px;

  background-color: #1a2d34;
  border-bottom: 2px solid #20353d;

  @media (min-width: $screen-md) {
    padding-top: 21px;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (min-width: $screen-lg) {
    padding: 0;

    font-size: 14px;

    background-color: #20353d;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 19px;

    width: 16px;
    height: 16px;

    border: 1px solid $white;
    border-top: rgba(255, 255, 255, 0);
    border-left: rgba(255, 255, 255, 0);
    transform: rotate(45deg);

    @media (min-width: $screen-md) {
      right: 26px;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--menu {
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}

.footer-menu__title-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: left;
}

.footer-menu__list {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #20353d;

  @media (min-width: $screen-lg) {
    padding-top: 3px;
  }

  &--menu {
    @media (min-width: $screen-lg) {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }

  &--price {
    @media (min-width: $screen-lg) {
      margin-right: 25px;

      width: 200px;
    }
  }
}

.footer-menu__item {
  position: relative;
  padding-left: 15px;
  padding-right: 62px;

  @media (min-width: $screen-md) {
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (min-width: $screen-lg) {
    padding: 0;
  }

  &--rice {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }
}

.footer-menu__link {
  font-size: 12px;
  line-height: 30px;

  color: $blue-light;

  @media (min-width: $screen-lg) {
    line-height: 25px;
  }

  &--menu {
    font-size: 14px;
    line-height: 24px;
    color: $white;
  }
}

.footer-menu__lists-wrap {
  @media (min-width: $screen-lg) {
    display: flex;
    flex-wrap: wrap;
  }
}

.js .accordion-open+.accordion-item {
  @media (max-width: $mobile-width-only) {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    overflow: visible;
  }
}

.js .accordion-item {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.js .accordion-open {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 19px;

    width: 16px;
    height: 16px;

    border: 1px solid $white;
    border-top: rgba(255, 255, 255, 0);
    border-left: rgba(255, 255, 255, 0);
    transform: rotate(225deg);
    transition: 0.3s;

    @media (min-width: $screen-md) {
      right: 26px;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}
