.sets {
  padding-bottom: 38px;

  width: 100%;
  max-width: 100%;

  @media (min-width: $screen-md) {
    padding-bottom: 53px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 58px;

    min-height: 149px;
  }
}

.sets__list {
  @media (min-width: $screen-md) {
    margin-bottom: 10px;
  }
}

.sets__item {
  margin-bottom: 30px;
}
