.swiper-pagination-bullet {
  @media (min-width: $screen-md) {
    margin: 0 11px;
    padding: 0;

    width: 8px;
    height: 8px;

    font-size: 0;
    background: #b3b3b3;


    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
  }

  &-active {
    opacity: 1;
    background: $green;
    border: none;
  }
}
