<section class="contacts">
  <h2 class="visually-hidden">Оставьте свои контакты для обратной связи</h2>
  <div class="contacts__inner">
    <div class="contacts__container">
      <span class="contacts__text">Есть вопросы?</span>
      <form class="form-registration" action="" method="POST">
        <legend class="form-registration__title">Оставьте&nbsp;<br>свои контакты</legend>
        <p class="form-registration__item form-registration__item--name">
          <label class="form-registration__label" for="name"></label>
          <input class="form-registration__control" id="name" type="text" name="name" placeholder="Серге|" required>
        </p>
        <p class="form-registration__item">
          <label class="form-registration__label" for="phone"></label>
          <input class="form-registration__control" id="phone" type="tel" name="phone" placeholder="Телефон" required>
        </p>
        <div class="form-registration__item form-registration__btn-wrap">
          <button class="btn form-registration__button" type="submit">Отправить</button>
        </div>
      </form>
      <p class="form__text">Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.</p>
    </div>
  </div>
</section>
