<section class="features">
  <h2 class="section-title section-title--features">10 причин купить у нас</h2>
  <div class="features__inner">
    <ul class="features__list">
      <li class="features__item features__item--1">
        <p class="features__text">100% ручная работа</p>
      </li>
      <li class="features__item features__item--2 features-hidden">
        <p class="features__text">100% свежие ингредиенты</p>
      </li>
      <li class="features__item features__item--3 features-hidden">
        <p class="features__text features__text--3">Самые низкие цены на рынке! (Нет ресторанной наценки)</p>
      </li>
      <li class="features__item features__item--4 features-hidden">
        <p class="features__text features__text--4">Постоянный контроль качества на всех этапах</p>
      </li>
      <li class="features__item features__item--5 features-hidden">
        <p class="features__text">Только охлажденная рыба (никакой заморозки)</p>
      </li>
      <li class="features__item features__item--6">
        <p class="features__text features__text--6">Мы используем только дорогой рис из Японии</p>
      </li>
      <li class="features__item features__item--7 features-hidden">
        <p class="features__text features__text--7">Больше начинки, меньше риса!</p>
      </li>
      <li class="features__item features__item--8 features-hidden">
        <p class="features__text features__text--8">Мы не заменяем авокадо огурцом!</p>
      </li>
      <li class="features__item features__item--9">
        <p class="features__text features__text--9">Вся пицца готовится из итальянской муки и Итальянского соуса</p>
      </li>
      <li class="features__item features__item--10 features-hidden">
        <p class="features__text">Мы не используем майонез!</p>
      </li>
    </ul>
    <button class="btn btn__features">Показать все</button>
  </div>
</section>
