<section class="footer-top">
  <h2 class="visually-hidden">Наши товары</h2>
  <div class="footer-top__inner">
    <div class="footer-top__row footer-menu">
      <div class="footer-menu__col footer-menu__col--menu">
        <div class="footer-menu__title footer-menu__title--menu">
          <a class="footer-menu__title-link" href="#">Меню</a>
        </div>
        <ul class="list-reset footer-menu__list footer-menu__list--menu accordion-item">
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Суши</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Гунканы</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Инари</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Супы</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Салаты</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Горячие закуски</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Десерты</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Напитки</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link footer-menu__link--menu" href="#">Дополительно</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu__col footer-menu__col--sets">
        <div class="footer-menu__title">
          <a class="footer-menu__title-link" href="#">Сеты</a>
        </div>
        <div class="footer-menu__lists-wrap footer-menu__list accordion-item">
          <ul class="list-reset footer-menu__list--price">
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">До 500 руб.</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">До 1000 руб. (для двоих)</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">До 1500 руб (для двоих - троих)</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">До 2000 руб (большая кампания)</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">от 2000 руб (очень большая кампания)</a>
            </li>
          </ul>
          <ul class="list-reset">
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">С угрем</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">Горячие</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">Запеченые</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="#">Суши</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__col footer-menu__col--rolls">
        <div class="footer-menu__title">
          <a class="footer-menu__title-link" href="#">Роллы</a>
        </div>
        <ul class="list-reset footer-menu__list accordion-item">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Традиционные/Классические</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Простые</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Теплые</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Запеченые</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Вегитарианские</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu__col footer-menu__col--wok">
        <div class="footer-menu__title accordion-open">
          <a class="footer-menu__title-link" href="#">Вок</a>
        </div>
        <ul class="list-reset footer-menu__list accordion-item">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Яичная</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Удон</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Гречневая</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Стеклянная</a>
          </li>
          <li class="footer-menu__item--rice">
            <a class="footer-menu__link" href="#">Рис</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu__col footer-menu__col--pizza">
        <div class="footer-menu__title">
          <a class="footer-menu__title-link" href="#">Пицца</a>
        </div>
        <ul class="list-reset footer-menu__list accordion-item">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Мясная</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Рыбная</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Сырная</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Вегитарианская</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
