<section class="footer-bottom">
  <h2 class="visually-hidden"></h2>
  <div class="footer-bottom__inner">
    <div class="footer-bottom__wrap">
      <ul class="list-reset social__wrap social">
        <li class="social__item social__item--fb">
          <a class="social__link social__link--fb" href="#">
            <span class="visually-hidden">Мы в фейсбуке</span>
            <svg width="23" height="23">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--in" href="#">
            <span class="visually-hidden">Мы в инстаграмме</span>
            <svg width="23" height="23">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--vk" href="#">
            <span class="visually-hidden">Мы в контакте</span>
            <svg width="23" height="23">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="footer-bottom__link" href="#">Соглашение на обработку персональных данных</a>
      <p class="footer-bottom__text">Миюши © 2017</p>
    </div>
  </div>
</section>
