<header class="header">
  <nav class="main-nav" id="nav">
    <div class="main-nav__item">
      <a class="main-nav__logo">
        <h1 class="visually-hidden">Миюши<span>суши и роллы</span></h1>
        <picture>
          <source media="(min-width: 1170px)" srcset="img/logo-desktop.png">
          <source media="(min-width: 765px)" srcset="img/logo-tablet.png">
          <img class="main-nav__logo-img" src="img/logo-mobile.png" alt="Миюши">
        </picture>
      </a>
      <div class="block-buyer">
        <a class="block-buyer__link block-buyer__link--cabinet" href="#">Кабинет</a>
        <a class="block-buyer__link block-buyer__link--basket" href="#">Корзина
          <svg class="block-buyer__icon block-buyer__icon--basket" width="22" height="20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="main-nav__menu">
      <div class="main-nav__toggler-wrapper">
        <button class="burger main-nav__toggler" aria-label="Показать главное меню" data-target-id="nav" data-target-class-toggle="site-list--open">
          <span>Показать главное меню</span>
        </button>
      </div>
      <ul class="main-nav__list site-list">
        <li class="site-list__item">
          <a class="site-list__link" href="#">Меню</a>
        </li>
        <li class="site-list__item">
          <a class="site-list__link" href="#">Акции и скидки</a>
        </li>
        <li class="site-list__item">
          <a class="site-list__link" href="#">Доставка и оплата</a>
        </li>
        <li class="site-list__item">
          <a class="site-list__link" href="#">Новости</a>
        </li>
        <li class="site-list__item">
          <a class="site-list__link" href="#">Контакты</a>
        </li>
      </ul>
      <div class="menu-user">
        <a class="m-b menu-user__link-phone" href="tel:+7 (800) 333 2 222;">
          <span class="menu-user__text-phone">+7 (800) 333 2 222</span>
          <span class="menu-user__office-hours">Работаем с 11.00 до 23.00</span>
        </a>
        <a class="m-b menu-user__callback" href="#">Обратный звонок</a>
        <p class="m-b menu-user__addres">г. Курск, ул. Ленина, д. 3</p>
        <p class="m-b menu-user__email">78003332222@yandex.ru</p>
      </div>
      <div class="block-buyer block-buyer--desktop">
        <a class="block-buyer__link block-buyer__link--cabinet" href="#">Кабинет</a>
        <a class="block-buyer__link block-buyer__link--basket" href="#">
          <svg class="block-buyer__icon block-buyer__icon--basket" width="25" height="22">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
          </svg>
          <span class="block-buyer__number">2</span>
          Корзина
        </a>
      </div>
    </div>
  </nav>
</header>
