<section class="promo">
  <h2 class="visually-hidden">Рекламная акция</h2>
  <div class="promo__wrapper">
    <div class="promo__slider swiper-container">
      <div class="swiper-wrapper">
        <div class="promo__slide swiper-slide">
          <div class="promo__description">
            <p class="promo__text">Счастливые часы</p>
            <div class="promo__discount">скидка 15%</div>
            <p class="promo__info">с 11:00 до 16:00 в будние дни</p>
            <a class="promo__link" href="#">Подробнее</a>
          </div>
          <picture class="promo__img-wrap">
            <source type="image/webp" media="(min-width: 1170px)" srcset="img/promo-lg.webp">
            <source type="image/webp" media="(min-width: 765px)" srcset="img/promo-md.webp">
            <source type="image/webp" srcset="img/promo-sm.webp">
            <source media="(min-width: 1170px)" srcset="img/promo-lg.jpg">
            <source media="(min-width: 765px)" srcset="img/promo-md.jpg">
            <img class="promo__img" src="img/promo-sm.jpg" alt="Миюши">
          </picture>
        </div>
        <div class="promo__slide swiper-slide">
          <div class="promo__description">
            <p class="promo__text">Счастливые часы</p>
            <div class="promo__discount">скидка 15%</div>
            <p class="promo__info">с 11:00 до 16:00 в будние дни</p>
            <a class="promo__link" href="#">Подробнее</a>
          </div>
          <picture class="promo__img-wrap">
            <source type="image/webp" media="(min-width: 1170px)" srcset="img/promo-lg.webp">
            <source type="image/webp" media="(min-width: 765px)" srcset="img/promo-md.webp">
            <source type="image/webp" srcset="img/promo-sm.webp">
            <source media="(min-width: 1170px)" srcset="img/promo-lg.jpg">
            <source media="(min-width: 765px)" srcset="img/promo-md.jpg">
            <img class="promo__img" src="img/promo-sm.jpg" alt="Миюши">
          </picture>
        </div>
        <div class="promo__slide swiper-slide">
          <div class="promo__description">
            <p class="promo__text">Счастливые часы</p>
            <div class="promo__discount">скидка 15%</div>
            <p class="promo__info">с 11:00 до 16:00 в будние дни</p>
            <a class="promo__link" href="#">Подробнее</a>
          </div>
          <picture class="promo__img-wrap">
            <source type="image/webp" media="(min-width: 1170px)" srcset="img/promo-lg.webp">
            <source type="image/webp" media="(min-width: 765px)" srcset="img/promo-md.webp">
            <source type="image/webp" srcset="img/promo-sm.webp">
            <source media="(min-width: 1170px)" srcset="img/promo-lg.jpg">
            <source media="(min-width: 765px)" srcset="img/promo-md.jpg">
            <img class="promo__img" src="img/promo-sm.jpg" alt="Миюши">
          </picture>
        </div>
      </div>
      <div class="promo__pagination-wrap">
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="promo__controls">
      <button class="btn promo__button promo__button--next" type="button" aria-label="Next slide">Вперёд</button>
      <button class="btn promo__button promo__button--prev" type="button" aria-label="Previous slide">Назад</button>
    </div>
  </div>
</section>
