<section class="reviews">
  <h2 class="section-title section-title--reviews">Отзывы</h2>
  <div class="reviews__inner">
    <ul class="list-reset reviews__list">
      <li class="reviews__item">
        <article class="review">
          <h3 class="visually-hidden">Отзыв Надежды Наширбановой</h3>
          <div class="review__header">
            <picture class="review__avatar-wrap">
              <source type="image/webp" srcset="img/review-avatar.webp">
              <img src="img/review-avatar.png" width="67" height="67" alt="Надежда Наширбанова">
            </picture>
            <header class="review__header-text">
              <b class="review__author">Надежда Наширбанова</b>
              <time class="review__date" datetime="2017-08-05T09:58">5 авг 2017 в 9:58</time>
            </header>
          </div>
          <div class="review__body">
            <p class="review__text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня ).</p>
            <div class="review__product-wrap">
              <picture>
                <source type="image/webp" srcset="img/review-product.webp">
                <img src="img/review-product.png" width="106" height="142" alt="Роллы">
              </picture>
            </div>
          </div>
          <footer class="review__footer">
            <div class="review__btns-wrap">
              <a class="review__link review__link--like" href="#">
                <span class="visually-hidden">Показать список оценивших</span>
              </a>
              <a class="review__link review__link--comment" href="#">2
                <span class="visually-hidden">Комментарии</span>
              </a>
              <a class="review__link review__link--inform" href="#">
                <span class="visually-hidden">Рассказать всем</span>
              </a>
            </div>
            <button class="btn review__btn">
              <svg width="23" height="23">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
              </svg>
              Подписаться</button>
          </footer>
        </article>
      </li>
      <li class="reviews__item">
        <article class="review">
          <h3 class="visually-hidden">Отзыв Надежды Наширбановой</h3>
          <div class="review__header">
            <picture class="review__avatar-wrap">
              <source type="image/webp" srcset="img/review-avatar.webp">
              <img src="img/review-avatar.png" width="67" height="67" alt="Надежда Наширбанова">
            </picture>
            <header class="review__header-text">
              <b class="review__author">Надежда Наширбанова</b>
              <time class="review__date" datetime="2017-08-05T09:58">5 авг 2017 в 9:58</time>
            </header>
          </div>
          <div class="review__body">
            <p class="review__text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня ).</p>
            <div class="review__product-wrap">
              <picture>
                <source type="image/webp" srcset="img/review-product.webp">
                <img src="img/review-product.png" width="106" height="142" alt="Роллы">
              </picture>
            </div>
          </div>
          <footer class="review__footer">
            <div class="review__btns-wrap">
              <a class="review__link review__link--like" href="#">
                <span class="visually-hidden">Показать список оценивших</span>
              </a>
              <a class="review__link review__link--comment" href="#">2
                <span class="visually-hidden">Комментарии</span>
              </a>
              <a class="review__link review__link--inform" href="#">
                <span class="visually-hidden">Рассказать всем</span>
              </a>
            </div>
            <button class="btn review__btn">
              <svg width="23" height="23">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
              </svg>
              Подписаться</button>
          </footer>
        </article>
      </li>
      <li class="reviews__item">
        <article class="review">
          <h3 class="visually-hidden">Отзыв Надежды Наширбановой</h3>
          <div class="review__header">
            <picture class="review__avatar-wrap">
              <source type="image/webp" srcset="img/review-avatar.webp">
              <img src="img/review-avatar.png" width="67" height="67" alt="Надежда Наширбанова">
            </picture>
            <header class="review__header-text">
              <b class="review__author">Надежда Наширбанова</b>
              <time class="review__date" datetime="2017-08-05T09:58">5 авг 2017 в 9:58</time>
            </header>
          </div>
          <div class="review__body">
            <p class="review__text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня ).</p>
            <div class="review__product-wrap">
              <picture>
                <source type="image/webp" srcset="img/review-product.webp">
                <img src="img/review-product.png" width="106" height="142" alt="Роллы">
              </picture>
            </div>
          </div>
          <footer class="review__footer">
            <div class="review__btns-wrap">
              <a class="review__link review__link--like" href="#">
                <span class="visually-hidden">Показать список оценивших</span>
              </a>
              <a class="review__link review__link--comment" href="#">2
                <span class="visually-hidden">Комментарии</span>
              </a>
              <a class="review__link review__link--inform" href="#">
                <span class="visually-hidden">Рассказать всем</span>
              </a>
            </div>
            <button class="btn review__btn">
              <svg width="23" height="23">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
              </svg>
              Подписаться</button>
          </footer>
        </article>
      </li>
    </ul>
  </div>
</section>
