.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
}

.section-title {
  position: relative;
  margin: 0 auto 40px;
  padding: 0 80px;

  width: 280px;

  font-weight: 400;
  font-size: 40px;
  color: $blue-dark;
  line-height: 42px;
  text-align: center;
  letter-spacing: -2px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;

    width: 74px;
    height: 30px;
  }

  &::before {
    left: 0;

    background-image: url("../img/title-left-img.png");
    background-repeat: no-repeat;
  }

  &::after {
    right: 0;

    background-image: url("../img/title-right-img.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-md) {
    padding-left: 100px;
    padding-right: 100px;

    min-width: 320px;
    max-width: 655px;

    font-size: 48px;
    line-height: 50px;
    letter-spacing: -5px;

    &::before,
    &::after {
      top: 13px;

      width: 86px;
      height: 32px;
    }

    &::before {
      left: 0;

      background-image: url("../img/title-left-md.png");
    }

    &::after {
      right: 0;

      background-image: url("../img/title-right-md.png");
    }
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 45px;
    padding-left: 110px;
    padding-right: 110px;

    min-width: 415px;
    max-width: 945px;

    font-size: 55px;
    line-height: 58px;
    letter-spacing: 0;

    &::before,
    &::after {
      top: 7px;

      width: 109px;
      height: 40px;
    }

    &::before {
      left: 0;

      background-image: url("../img/title-left-lg.png");
    }

    &::after {
      right: 0;

      background-image: url("../img/title-right-lg.png");
    }
  }
}
